

#edit-type-wrapper, #edit-severity-wrapper {
  float: left; /* LTR */
  padding-right: .8em; /* LTR */
  margin: 0.1em;
  /**
   * In Opera 9, DOM elements with the property of "overflow: auto"
   * will partially hide its contents with unnecessary scrollbars when
   * its immediate child is floated without an explicit width set.
   */
  width: 15em;
}
#sniffer-filter-form .form-item select.form-select {
  width: 100%;
}
tr.sniffer-user {
  background: #ffd;
}
tr.sniffer-user .active {
  background: #eed;
}
tr.sniffer-content {
  background: #ddf;
}
tr.sniffer-content .active {
  background: #cce;
}
tr.sniffer-page-not-found, tr.sniffer-access-denied {
  background: #dfd;
}
tr.sniffer-page-not-found .active, tr.sniffer-access-denied .active {
  background: #cec;
}
tr.sniffer-error {
  background: #ffc9c9;
}
tr.sniffer-error .active {
  background: #eeb9b9;
}
